# Reading & Writing large data using pandas
larger than 1GB, lesser than 100 GB

In [6]:
# How to read large data using pandas -> larger than 1GB, lesser than 100 GB
# reading large datasets using pandas
import pandas as pd
dfs_lst = []
# specify no of rows to read at a time in chunksize
chunks_text_reader = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv', 
                                 chunksize=10)
# each chunk_df contains 10 rows of data
for chunk_df in chunks_text_reader: 
    dfs_lst.append(chunk_df)
large_data_df = pd.concat(dfs_lst)
large_data_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21,10/15/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,155380,155429,155448,155466,155508,155540,155599,155627,155682,155688
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,173190,173723,174168,174643,174968,175163,175664,176172,176667,177108
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,204171,204276,204388,204490,204597,204695,204790,204900,205005,205106
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,15284,15288,15291,15291,15291,15307,15307,15314,15326,15338
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,60448,60803,61023,61245,61378,61580,61794,62143,62385,62606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,822687,826837,831643,836134,839662,843281,846230,849691,853842,857639
275,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,439845,440936,441882,441882,441882,443766,444729,445538,446294,447032
276,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,9271,9299,9333,9345,9369,9402,9412,9439,9467,9495
277,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,209248,209283,209315,209336,209347,209353,209396,209411,209431,209477
278,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,131434,131523,131705,131762,131796,131875,132016,132108,132251,132285

In [10]:
# memory utilized by df in GB
str(large_data_df.memory_usage().sum()/1073741824) + ' GB'

'0.0013242587447166443 GB'

In [2]:
# how to write large data using pandas
large_data_df.to_csv('large_data.csv', chunksize=10, index=False)

In [7]:
dfs_lst[0]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21,10/15/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,155380,155429,155448,155466,155508,155540,155599,155627,155682,155688
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,173190,173723,174168,174643,174968,175163,175664,176172,176667,177108
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,204171,204276,204388,204490,204597,204695,204790,204900,205005,205106
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,15284,15288,15291,15291,15291,15307,15307,15314,15326,15338
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,60448,60803,61023,61245,61378,61580,61794,62143,62385,62606
5,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,3581,3663,3678,3738,3750,3750,3772,3817,3830,3858
6,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,5263219,5264305,5265058,5265528,5265859,5266275,5267339,5268653,5270003,5271361
7,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,267363,268672,269874,271205,272356,272957,273860,275077,276666,278431
8,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,1231,1271,1296,1326,1358,1386,1437,1483,1518,1538
9,New South Wales,Australia,-33.86880,151.209300,0,0,0,0,3,4,...,67024,67669,68246,68712,69205,69552,69993,70391,70781,71099